.card_register{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.body_card_input{
    border: 0.1rem solid #FFBF00;
}

.title_card_register_input{
    font-size: 2rem;
    font-weight: 600 !important;
    display: flex;
    justify-content: center;
    color: #FFBF00;
    margin-bottom: 10px !important;
}

.section_output{
    padding: 1rem;
}

.section_input{
    padding: 1rem;
}