.navbar{
    background: #FFBF00 !important;
}

.route_navbar{
    font-size: 20px;
}

.item a{
    color: #FFFFFF;
    text-decoration: none;
}

.item a:hover{
    color:#f2f2f2;
}

.style_button_register{
    font-size: 22px;
}

.container_navbar{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
}

@media(max-width: 500px){
    h1{
        font-size: 26px !important;
    }

    .img_social_midia{
        width: 26px;
    }
}