.div_table_input{
    margin-bottom: 20px;
}

.div_table_output h2{
    display: flex;
    justify-content: space-between;
    color: rgb(65 65 65);
    padding: 0.5em;
    border-radius: 9px;
}

.div_table_input h2{
    color: rgb(65 65 65);
    padding: 0.5em;
}

#customers {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    text-align: center;    
}

#customers .tr_table:nth-child(even){background-color: #f2f2f2;}

#customers .tr_table:hover {
    background-color: #ddd;
}

.custonOutput{
    background-color: #E44E4E;
}

.custonInput{
    background-color: #ffbf00;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
    box-shadow: 20px 20px 50px -30px #696969;
}

.icon_register{
    width: 36px !important;
}

.icon_register:hover{
    opacity: 0.7;
}

.item a{
    color: #FFFFFF;
    text-decoration: none;
}

.title_table_input{
    display: flex;
    justify-content: space-between;
    color: rgb(65 65 65);
    padding: 0.5em;
    border-radius: 9px;
    border: 1px solid #ccc!important;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
}

.navbar_table{
    display: flex;
    margin-right: 10px;
}

.div_button_register_table{
    margin-top: 14px;
    padding-left: 10px;
}

#search{
    width: 145px;
    height: 24px;
    border: 1px solid black;
    padding: 1px 0 0 16px;
    font-size: 15px;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
    margin-top: 17px;
    border-radius: 10px;
}

.icon_width_table{
    width: 25px;
}

.display_button_table{
    display: flex;
    justify-content: center;
}

.div_type_register{
    display: flex;
    margin-left: 10px;
    margin-top: 35px;
}

.tag_output{
    width: 10px;
    height: 10px;
    left: 5px;
    top: 6px;
    background: #2AAC5E;
    margin-right: 5px;
}

.tag_input{
    width: 10px;
    height: 10px;
    left: 80px;
    top: 6px;
    background: #E44E4E;
    margin-right: 5px;
}

.section_type_register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 12px;
}

.section_select_filter_input_output{
    margin-left: 5px;
}

.button_register_table{
    width: 122px;
    height: 29px;
    left: 858px;
    top: 14px;
    background-color: #FFBF00;
    border-radius: 5px;
    border: 1px solid #cccccc;;
}

.button_register_table p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

.button_register_table:hover{
    opacity: 0.8;
}

.button_register_table:active{
    transform: translateY(4px);
}